a:link{text-decoration:none;color:#990099;}
a:hover{text-decoration:none;color:#754C78;}
a:visited{text-decoration:none;color:#754C78;}

body{
background:#000000;
background-image:url('../images/background.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-size:100%;
}

header{
position:absolute;
padding-top:5px;
padding-left:4px;
top:0px;
left:0px;
margin-top:0px;
margin-left:311.25px;
margin-left:311.25px;
text-align:center;
font-size:36pt;
font-family:Verdana, sans-serif;
width:663px;
height:100px;
overflow:none;
}

menu{
text-align:right;
width:652.5px;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}

acct{
text-align:right;
padding-left:5px;
float:right;
}

content{
background:rgba(204,229,255,0.95);
position:absolute;
margin-top:85px;
margin-left:311.25px;
margin-left:311.25px;
padding-left:3px;
font-family:Verdana, sans-serif;
height:auto;
width:662.5px;
}

#new{
padding-bottom:50px;
}
#sale{
padding-bottom:50px;
}
#popular{
padding-bottom:50px;
}

#recent{
padding-bottom:50px;
}

img{
border:none;
padding-left:5px;
padding-right:5px;
padding-bottom:5px;
}

imp{
color:#FF0000;
}

letters{
font-size:14pt;
}

art{
color:#000000;
font-weight:bold;
}
song{
color:#000000;
}


